node_modules/
dist/
deliverables/

*.log
vite.err.log
vite.out.log

android/.gradle/
android/build/
android/app/build/
android/capacitor-cordova-android-plugins/build/
android/local.properties

*.apk
*.aab
*.jks
*.keystore
